<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 70%), url('<%= image_path 'bannerp.png' %>');">
</div>

<div class= "container">
  <div class="mypic" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 70%), url('<%= image_path 'Anna (2).png' %>');">
  </div>
  <div class="presentation">
     <h2 class="title"> A propos de moi. </h2>
     <p class="text"> Etudiante en droit et gestion reconvertie en
      développeuse web et passionnée de design, je
      cherche un CDI ou des projets free-lance en
      developpement et web design.</p>
      <div class= "contact">
  <%= link_to '<i class="fab fa-facebook-f"></i>'.html_safe,  'https://www.facebook.com/anna.bendahan.7', class: "icon" %>
  <%= link_to '<i class="fab fa-instagram"></i>'.html_safe,  'https://www.instagram.com/lebendan/', class: "icon" %>
  <%= link_to '<i class="fab fa-linkedin-in"></i>'.html_safe,  'https://www.linkedin.com/in/anna-bendahan-55324113a/', class: "icon" %>
</div>
 </div>
</div>

<%= link_to "TELECHARGER LE CV", download_pdf_path, class: "btn" %>

<div class="grey-container">
  <h2 class="titleall text-center"> Services.</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="square">
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="square">
          <p> salut </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="square">
        </div>
      </div>
    </div>
  </div>

</div>

